.header_wrapper
  header
    a(href="/")
      .logo
        img(src=fn.cwd("/static/stc-logo.svg")) 
        .logo_text
          .logo_text__brand 
            | Savoie Tech Coop
            .logo_text__quote Outils Web éthiques, gratuits et décentralisés
    ul.nav
      li
        a(href='/') Accueil
      li
        a(href='/about') À propos
      li
        a(href="/les-outils-web") Les outils web
      li
        a(href="/contact") Contact
