
.col-12
  h3 Nos valeurs
.col-12
  h5 Pour un Internet libre
  p Nous soutenons l’utilisation des logiciels libres et des standards ouverts.

  p L’accès au code source est au fondement des principes du Libre. Pour chaque application rendue disponible dans ses projets, STC s’engage à ce qu’elle soit placée exclusivement sous licence libre.

  p Aucune donnée produite à l’aide des applications n’appartient à STC, qui n’y appose aucun droit et n’y pratique aucune censure. 

  h5 Pour un Internet décentralisé
  p En proposant des applications libres en ligne, STC expose autant d’alternatives aux applications proposées par des entreprises à des fins de monopole et d’usage dévoyé des données personnelles.

  p Ces alternatives illustrent la diversité des solutions libres disponibles et pouvant être mises à disposition à des fins personnelles ou collectives. À ce titre STC s’engage à favoriser leur essaimage en publiant des tutoriaux explicatifs sur les méthodes employées pour installer ces applications sur vos propres serveurs.

  p L’égalité de l’accès à ces applications est un engagement fort : en les proposant gratuitement, STC souhaite promouvoir leur usage envers le plus grand nombre et illustrer par l’exemple qu’un Internet décentralisé et égalitaire est possible.

  h5 Pour un Internet éthique
  p L’éthique du logiciel libre est faite de partage et d’indépendance. STC s’engage à ne pratiquer aucune censure a priori des contenus, aucune surveillance des actions des utilisateurs, et à ne répondre à aucune demande administrative ou d’autorité sans une requête légale présentée en bonne et dûe forme. En retour, les utilisateurs s’engagent, dans la production ou l’hébergement de leurs contenus, à respecter les cadres prévus par la loi.

  p Aucune discrimination des utilisateurs n’est pratiquée, afin de favoriser la plus grande accessibilité possible.

  p Aucune donnée personnelle ne sera exploitée à des fins commerciales, transmise à des tiers ou utilisée à des fins non prévues par la présente charte. En revanche, les utilisateurs doivent aussi intégrer le fait que leurs données peuvent parfois être accessibles, en particulier lorsqu’ils rendent leurs données publiques dans le cadre d’une application collaborative. Dans ce cas, les utilisateurs restent responsables de leurs contenus.

  h5 Pour un Internet solidaire
  p STC c'est une initiative avec le potentiel de devenir une coopérative sans but lucratif. Ses bénévoles et salariés mettent leur temps de travail au service des utilisateurs pour assurer la pérennité des services. Le modèle économique proposé est basé sur la mutualisation des énergies et des coûts. Si les services sont gratuits, cela ne signifie pas qu’ils ne coûtent rien. Si un grand nombre de personnes encouragent financièrement STC à maintenir ses services, un plus grand nombre encore sera en mesure de les utiliser et ils pourront de même être améliorés.

  p Dans une démarche d’éducation populaire, STC diffuse un maximum de connaissances pour promouvoir les usages des logiciels libres et apprendre à installer des services libres en ligne. Ce partage des ressources, techniques et cognitives, fait d’Internet un bien commun, disponible pour tous et n’appartenant à personne.
.col-s-12.col-m-4.col-l-4
  h5 Droits de l'homme
  p Une technologie respectueuse des droits de l'homme est décentralisée, d'égal à égal, sans connaissance, cryptée de bout en bout, source libre et ouverte, interopérable, accessible et durable.
  p Il respecte et protège vos libertés civiles, réduit les inégalités et profite à la démocratie.
.col-s-12.col-m-4.col-l-4
  h5 Effort humain
  p Une technologie qui respecte l'effort humain est fonctionnelle, pratique et fiable.
  p C'est réfléchi et accommodant; pas arrogant ou exigeant. Il comprend que vous pourriez être distrait ou handicapé différemment. Il respecte le temps limité que vous avez sur cette planète.
.col-s-12.col-m-4.col-l-4
  h5 Expérience humaine
  p Une technologie qui respecte l'expérience humaine est belle, magique et ravissante.
  p Ça fonctionne. C'est intuitif. C’est invisible. Il recule dans le fond de votre vie. Cela vous donne de la joie. Il vous habilite avec des super pouvoirs. Cela met un sourire sur votre visage et améliore votre vie.
.col-12
  div(style='display: block; width: 250px; margin-left: auto; margin-right: auto;')
    a(href='https://ind.ie/ethical-design' target="_blank")
      img(style='margin-left: auto; margin-right: auto; margin-bottom: 0;', alt='', src='https://ind.ie/ethical-design/images/ethical-design-badge-tiny.svg')
    p
      | We practice 
      strong Ethical
      |  Design.
