extends ../partials/layout.pug
block afterHeader
  div.image_banner
block content
  ul.tools_list
    li.tools_list__item
      a(href="/outils-web/reservation-de-paniers")
        h1.tools_list_title(style="padding-bottom:0px") PanierLibre
        p(style="color:grey;") Réservation de paniers pour les cooperatives de maraîchage
      .logo()
        img(src="/savoietc/static/images/tools/basket_hot/panierlibre_logo.png")
      .tool_list__img_group
        img(src="/savoietc/static/images/tools/basket_hot/basket_hot_01.jpg")
        img(src="/savoietc/static/images/tools/basket_hot/basket_hot_02.jpg")
      p Cet outil vous permet de gérer les paniers lors de la création, de l’édition et de la visualisation, et vous fournit un système de réservation qui permet aux clients de réserver via une page spéciale ou via votre page Web existante.
      p Cette solution open source est disponible en mode "clé en main" (hébergée par nous avec un modèle de tarification "prix libre") ou peut être implémentée par vous-même gratuitement.
      a.btn.tools_list_button(type="button" target="_blank" href="/panier-libre" @click="trackLink('DEMO_URL')") Essayez la démo
      p.mini Connectez-vous avec  email: demo mot de passe: demo
      p.repo Repository:&nbsp;
        a(href="https://gitlab.com/misitioba/panier-libre" target="_blank" @click="trackLink('REPO_URL')") https://gitlab.com/misitioba/panier-libre
      p.repo Utilisé par:&nbsp;
        a(href="http://lesbaujardins.legtux.org/PanieR" target="_blank") Les Bau’jardins 
        span (activité de maraîchage sur la commune de La Compôte)
block styles
  style(scoped).
    .logo{
      max-width:300px;
    }
    .logo img{
      max-width:100%;
    }
    .tool_list__img_group{
      display:flex;

    }
    .tool_list__img_group img{
      max-width:300px;
    }
    .repo{
      font-size:16px;
    }
block scripts
  script.
    new Vue({
    el: '.app',
    data() {
    return {
    toolName:'basket_hot'
    }
    },
    created() {},
    methods: {
    trackLink(linkName) {
    analytics.track('LinkClick', {
    name:linkName,
    toolName: this.toolName
    })
    murlytics.track({ name: 'LinkClick', linkName, toolName: this.toolName })
    }
    }
    })

