body {
    margin: 0px;
    padding: 0px;
    color:#333;
}

hr {
    border-bottom: 5px solid #1dabe7;
}

a,
a:hover {
    text-decoration: none;
}

select,
.btn,
span,
label,
a,
p {
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
}

.btn {
    cursor: pointer;
    font-size: 14px;
    max-width: 200px;
    min-height: max-content;
    background-color: #1dabe7;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    width: max-content;
}

.select {
    background-color: #B5A075;
}

.btn-danger {
    background-color: #ff00007d;
}

.btn.btn-danger:hover {
    background-color: #ff00009c;
}

.btn-black {
    background-color: #916f6f;
}

.btn.btn-black:hover {
    background-color: #4f3b3b;
}

.btn:hover {
    background-color: darkslateblue;
}

.app_content {
    min-height: calc(100vh - 250px);
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 15px;
    padding-top: 25px;
}

p {
    padding: 10px 0px;
}


/* ================== */
/* == START HEADER == */
/* ================== */

header img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.header_wrapper {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

header {
    display: grid!important;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 'header header';
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header ul li {
    display: flex;
    justify-content: center;
    padding:10px 10px;
}

header ul {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    width: max-content;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    font-weight: bold;
}

header .logo {
    display: grid;
    grid-template-columns: 25% 75%;
}
header .logo img{
    max-width: 50px;
}

header .logo .logo_text {
    font-size: 35px;
    display: flex;
    align-items: start;
    height: auto;
    flex-direction: column;
    justify-content: center;
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    padding: 0px 5px;
}


header .logo .logo_text__quote {
    font-size: 18px;
    font-weight: 100;
}

@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        grid-template-areas: 'header';
    }
    header ul {
        margin-top: 20px;
        justify-self: center;
    }
    .logo_text__brand {
        text-align: center;
    }
    header .logo .logo_text__quote {
        text-align: center;
    }
    header .logo .logo_text {
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }
    header .logo img {
        width: 50px;
    }
    header .logo {
        grid-template-columns: 1fr;
    }
}



/* == END HEADER == */





form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    align-self: center;
}

form button {
    margin-top: 20px;
}

footer {
    background-color: #1dabe7;
    padding: 20px;
    min-height: 200px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

footer p {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}


.tools_list {
    padding: 0;
}

.tools_list__item {
    display: inline;
    font-family: GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
}

.tools_list__item p {}

.tools_list_title {
    text-align: left;
    font-size: 32px;
    color: #1dabe7;
}

p,
label {
    font-size: 20px;
}



.tool_list__img_group img {
    width: 100%;
}

img {
    width: 100%;
}

p.mini {
    font-size: 16px;
    font-weight: bold;
}

.tools_list {
    margin: 50px 0px;
}

.tools_list_button {
    margin: 10px 5px 5px 0px;
}
